html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  color: var(--babyBlue);
}

*::after,
*,
*::before {
  box-sizing: inherit;
}

:root {
  --red: #D00000;
  --yello: #FFBA08;
  --babyBlue: #3F88C5;
  --blue: #032B43;
  --pineGreen: #1ccb1ccf;
}